body {
	background: resolve('$backgroundUrl') 0 0 / cover scroll no-repeat #FCFAF2;
	color: #FFF;
}

.text-center { text-align: center; }
.hide { display: none; }

a,
a:focus,
a:hover { transition: all 0.2s; }

section {
	lost-utility: clearfix;
}
.sites-area {lost-column: 2/3; }
.summary-area {lost-column: 1/3; }

.sites,
.summary {
	background: rgba(0,0,0,0.7);
	padding: 15px;
}
.sites { border-bottom-right-radius: 5px; }
.summary { border-bottom-left-radius: 5px; }

.site-group { overflow: hidden; }
.site a {
	background: #FFF;
	border: 1px solid #FCFAF2;
	border-radius: 5px;
	color: #C73E3A;
	float: left;
	lost-align: center;
	height: 125px;
	font-weight: bold;
	margin: 15px;
	text-align: center;
	text-decoration: none;
	width: 125px;
}
.site a:hover {
	background: #C73E3A;
	color: #FFF;
}
.site a span { display: block; }

.title {
	margin: -10px 0 0;
	font-size: 52px;
	display: block;
	line-height: 60px;
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
}

.summary a {
	color: #C73E3A;
	text-decoration: none;
}
.summary a:hover { color: #E83015; }
.summary h3 small { font-size: 60%; }
